{% extends "base.html" %}
{% load allauth account i18n %}

{% block title %}
    Password Reset
{% endblock title %}

{% block content %}


    

    
    <div class="password-recovery-container">
        
        
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <div class="password-recovery-form">

            <h2>Bad Token</h2>
                The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
        </div>
        
    {% else %}
    <div class="password-recovery-form">
        <h2>Password Recovery</h2>
        <p>Enter a new password to login into your account</p>
        {% element form method="post" action=action_url %}
        {% slot body %}
        {% csrf_token %}
                <input type="password" id="new-password" name="password1" required placeholder="New Password">
                <input type="password" id="confirm-password" name="password2" required placeholder="Confirm Password">
            {% endslot %}
            {% slot actions %}
                <button type="submit" class="submit-button">Submit</button>
            {% endslot %}
        {% endelement %}
    </div>
   
    {% endif %}
    </div>
{% endblock content %}
    