{% extends 'base.html' %}
{% load allauth i18n %}

{% block content %}
<div class="signup-container">
    <form class="signup-form" action="{% url 'account_signup' %}" method="post" >
        {% csrf_token %}
        <h2>Sign Up</h2>
        {{form.non_field_errors}}
        
        {% for field in form %}
        <div class="S_input-group">
            {{field.label_tag}}
            {{field}} {{field.errors}}
            <span><small>{{field.help_text}}</small></span>
        </div>
            
        {% endfor %}
            
        
        {% comment %}
            
        <div class="S_input-group">
            {{form.email.label_tag}}
            {{form.email}}
            {{form.email.errors}}
        </div>
        <div class="S_input-group">
            {{form.password1.label_tag}}
            {{form.password1}}
            <span><small>{{form.password1.help_text}}</small></span>
            {{form.password1.errors}}
        </div>
        <div class="S_input-group">
            {{form.password2.label_tag}}
            {{form.password2}}
        </div>
        {% endcomment %}
            
        <button type="submit">Sign Up</button>
    </form>
</div>
{% endblock content %}
    