{% extends 'base.html' %}


{% block content %}
{% if has_keys %}
<div class="page-container">
    <div class="sidebar">
        <ul class="sidebar-links">
            <li><a href="{% url 'index' %}">All Keys</a></li>
            <li><a href="{% url 'index' %}?q=ACTIVE">Active Keys</a></li>
            <li><a href="{% url 'index' %}?q=EXPIRED">Expired Keys</a></li>
            <li><a href="{% url 'index' %}?q=REVOKED">Revoked Keys</a></li>
        </ul>
        <button class="request-key-button" onclick="location.href='{% url 'key-request' %}'">Request New Key</button>
    </div>
    
    <div class="main-content">
        
        {% if user.is_superuser %}
        <div class="search-container">
            <form action="{% url 'check-active-key' %}" method="post">
                {% csrf_token %}
                <input type="email" id="search-bar" placeholder="Search email" name="email-search">
                <button type="submit">Search</button>

            </form>
        </div>
            
        {% endif %}
            
        <!-- <h2>Keys Management</h2> -->
         
        {% include 'key_manager/messages.html' %}
            
        <div class="keys-list">
            <table>
                <thead>
                    <tr>
                        <th>Access Key</th>
                        
                        {% if request.user.is_superuser %}
                            <th>User</th>
                        {% endif %}
                            
                        <th>Status</th>
                        <th>Procurement Date</th>
                        <th>Expiry Date</th>
                        
                        {% if request.user.is_superuser %}
                        <th>Action</th>
                            
                        {% endif %}
                            
                    </tr>
                </thead>
                <tbody>
                    
                    {% for key in keys reversed %}
                    
                    <tr>
                        <td>{{key.key}}</td>

                        
                        {% if request.user.is_superuser %}
                            <td>{{key.user.username | capfirst}}</td>
                        {% endif %}
                            
                        
                        {% if key.status == 'ACTIVE' %}
                        
                        <td style="color: green; font-weight:bolder">{{key.status}}</td>
                        {% elif key.status == 'REVOKED' %}
                        <td style="color: rgb(19, 0, 128); font-weight:bolder">{{key.status}}</td>
                        {% else %}
                        <td style="color: #ff0000; font-weight:bolder">{{key.status}}</td>

                        {% endif %}
                            
                        <td>{{key.date_procured}}</td>
                        <td>{{key.expiry_date}}</td>
                        
                        {% if request.user.is_superuser %}
                        <td><button class="revoke-button" onclick="location.href='{% url 'revoke' key.id %}'">Revoke</button></td>
                            
                        {% endif %}
                            
                    </tr>
                    {% endfor %}
                        
                    
                </tbody>
            </table>

        </div>
    </div>
    {% else %}
    <div class="welcome-container">
        <div class="welcome-message">
            <h2>Welcome, Username!</h2>
            <p>Thank you for logging in. You can purchase a new key by clicking the button below.</p>
            <button class="request-key-button" onclick="location.href='{% url 'key-request' %}'">Request Key</button>
        </div>
    </div>    
    
</div>
{% endif %}
<script>
    function hideMessage() {
        var message = document.getElementById('message')
        message.style.display = 'none';
    }
    setTimeout(hideMessage, 2000)
</script>
{% endblock content %}
    
    
